<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <context:component-scan base-package="com.xbzheng.common"/>

       <!--单点登录-->
       <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
              <property name="securityManager" ref="securityManager"/>
              <property name="loginUrl" value="/admin/login"/>
              <property name="successUrl" value="/index.jsp"/>
              <property name="filterChainDefinitions" >
                     <value>
                            /resources/** = anon
                            /login=anon
                            /user/**=authc
                     </value>
              </property>
       </bean>

       <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
              <property name="realm" ref="mysqlRealm"/>
              <property name="cacheManager" ref="shiroCacheManager"/>
              <property name="sessionManager" ref="sessionManager"/>
       </bean>

       <!--配置sessionManager-->
       <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
              <property name="sessionDAO" ref="sessionDao"/>
       </bean>

       <bean id="sessionDao" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO"/>
       <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
              <property name="cacheManager" ref="cacheManager"/>
       </bean>
</beans>